# Misc
*.iml
*.keystore
.gradle/
/local.properties
.idea/
captures/

# Gradle
**/gradlew
**/gradlew.bat
**/gradle-wrapper.jar
**/build/

# Flutter tooling
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.kt

